<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Inicio</a>
        <a class="navbar-brand" href="/realtimeproducts">Productos en Tiempo Real</a>
        <a class="navbar-brand" href="/products">Productos Paginados</a>
        <a class="navbar-brand" href="#" onclick="goToCart()">Carrito</a>
    </div>
</nav>

<h1 class="text-center my-4">Carrito de Compras</h1>

<div class="container">
    {{#if cart.products.length}}
        <div class="row">
            {{#each cart.products}}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="{{this.product.image}}" class="card-img-top img-thumbnail" style="max-width: 100px; max-height: 100px;" alt="{{this.product.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{this.product.title}}</h5>
                            <p class="card-text">Cantidad: {{this.quantity}}</p>
                            <p class="card-text text-primary">Precio unitario: ${{this.product.price}}</p>
                            <p class="card-text text-success">Subtotal: ${{multiply this.quantity this.product.price}}</p>
                            <button onclick="removeFromCart('{{../cart._id}}', '{{this.product._id}}')" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="text-center my-4">
            <h4>Total: ${{calculateTotal cart.products}}</h4>
            <button onclick="clearCart('{{cart._id}}')" class="btn btn-warning">Vaciar Carrito</button>
        </div>
    {{else}}
        <p class="text-center">No hay productos en el carrito.</p>
    {{/if}}
</div>

<script src="/js/cart.js"></script>